html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
}

section {
    min-height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1, h2, h3, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
}

h2 {
    color: gray;
}

h3 {
    font-size: 40px;
    padding-top: 8%;
    margin-bottom: 5px;
}

h4, p {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: black;
}

hr {
    width: 30px;
    height: 3px;
    background: black;
    border: 0;
    margin: 0 auto 40px auto;
}

footer {
    background-color: black;
    padding: 10px;
}
footer p {
    text-align: right;
    color: white;
}

#logo, li, img  {
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;

}

header {
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    box-shadow: 0 1px 3px rgba(0 0 0 0.1);
    z-index: 1;
}

#logo {
    width: 100px;
    float: left;
    margin: 10px 0 0 50px;
}

#logo:hover {
    opacity: 0.5;
}

#logo img {
    width: 100%;
}

header nav {
    float: right;
    margin: 35px 50px 0 0;
}

header nav ul li {
    float: left;
    margin-left: 25px;
}

header nav ul li a {
    font-size: 16px;
}
header nav ul li a:hover {
     padding-top: 5px;
}

#home {
    /*background-image: url("https://image.freepik.com/fotos-kostenlos/schoener-schuss-eines-waldes-mit-gruenen-baeumen-und-gelben-blaettern-auf-dem-boden-an-einem-sonnigen-tag_181624-1946.jpg");*/
    background-color: aqua;
    background-position: center, center;
    background-size: cover;
    background-attachment: fixed;
}

#home h1 {
    margin: 240px auto 0 auto;
    font-size: 110px;
}

#home h2 {
    margin: 0 auto 0 auto;
    font-size: 25px;
}

#home img {
    width: 32px;
    margin-top: 150px;
    opacity: 0.7;
}

#home img:hover {
    opacity: 1;
}

#about img {
    width: 240px;
}

#about img:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
}

#about h4 {
    font-size: 25px;
}

#about p {
    width: 700px;
    margin: 0 auto 0 auto;
    text-align: justify;
}

#projects {
    background-color: aliceblue;
}

#work {
    width: 900px;
    margin: 0 auto 0 auto;
}

#work ul {
    padding: 0;
}

#work ul li {
    width: 33.3%;
    float: left;
    margin-bottom: 15px;
}

#work img {
    width: 280px;
    height:170px;
    border-radius: 5px;
}

#work img:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
}